<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'), {variant: 'compact'}; %>
</head>
<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <nav class="navbar justify-content-between">
        <h1 class= "display-4">Costumes</h1>
        
      </nav>
      <hr class="my-4">


      <div class="row row-cols-1 row-cols-md-3">
        <% rows.forEach(function(row) { %>
        <div class="col mb-4">
          <div class="card h-100 border-dark mb-3" style="width: 20rem;">
            <img class="card-img-top" src="<%= row.costumeImage %>" alt="<%= row.costumeName %> image" width="500" height="450">
            <div class="card-body">
              <h4 class="card-title"><%= row.costumeName %></h4>
              <!-- Have badges change based on isRented and isRentable -->
              <span class="badge badge-success" <% if(row.isRentable == 'n') { %> hidden <% } %>>Available</span>
              <span class="badge badge-danger" <% if(row.isRentable == 'y') { %> hidden <% } %>>Not Available</span>
              

              <p class="card-text">
                <br><%= row.costumeDescription%> 
              </p>

              


              <a href="costumes/<%= row.costumeId %>" class="btn btn-primary">View</a>
            </div>

            <!--Display tags-->
            <div class="card-footer">
              <span class="badge badge-info" <% if(row.costumeSize == 'undefined') { %> hidden <% } %>> <%=row.costumeSize %></span>
            </div>
          </div>
        </div>
    <!-- https://drive.google.com/uc?id=13Yi-mHzbBju24flO6CIWsGz7a9dIFIfM -->
    
      <% }); %>
    </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>



      