<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'), {variant: 'compact'}; %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
      <h1>Costumes</h1>
      <!-- <p>C</p> -->



      <ul>
        <% rows.forEach(function(row) { %>
          <li>
            <strong><%= row.costumeName %></strong>
             <%= row.isRented %>
             <%= row.isRentable %>
             <p><a href ="/rent">Rent</a></p>
          </li>
        <% }); %>
      </ul>
      
      

    </div>
  </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>



      