<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="container-md bg-light">
        <div class="row">
            <div class="col-lg-6">
              <img src="<%=costume.costumeImage%>" class="img-fluid" alt="image">
            </div>

            <div class="col-lg-6">
              <div class="container-fluid">
                <h1><%=costume.costumeName%></h1>
                <h5 style="height:170px"><%=costume.costumeDescription%></h5>
                <a class="btn btn-primary btn-block align-bottom" href="rent">Rent</a>
              </div>
            </div>

            

           
        </div>
    </div>

    
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>