<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<style>
  .color-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  .color-option {
    display: flex;
    align-items: center;
  }

  .color-option input {
    margin-right: 5px;
  }
</style>

<main>
  <div class="container-md bg-light">
      <div class="row">
          <div class="col-lg-6">
            <img src="<%=costume.costumeImage%>" class="img-fluid" alt="image">
          </div>
      
          <div class="col-lg-6">
            <div class="container-fluid">
              <h1><%=costume.costumeName%></h1>
              <h5 style="height:170px"><%=costume.costumeDescription%></h5>

            </div>
          </div>

          <!-- Display color-boxes -->
          <div class="col-lg-12">
            <div class="container-fluid">
              <h3>Costume Details</h3>
              <div class="color-box">
                <p>ID: <%= costume.id %></p>
                <p>Color: <%= costume.costumeColor %></p>
                <p>Location: <%= costume.costumeLocation %></p>
                <p>Pattern: <%= costume.costumePattern %></p>
                <p>Type: <%= costume.costumeType %></p>
                <p>Hem: <%= costume.costumeHem %></p>
                <p>Chest Measurement: <%= costume.costumeChest %></p>
                <p>Neck Measurement: <%= costume.costumeNeck %></p>
                <p>Waist Measurement: <%= costume.costumeWaist %></p>
                <p>Sleeve Measurement: <%= costume.costumeSleeve %></p>
                <p>In-seam Measurement: <%= costume.costumeInSeam %></p>
                <p>Fabric: <%= costume.costumeFabric %></p>
              </div>
            </div>
          </div>
          
          

      </div>
  </div>


  <div class="col-lg-3">
    <% if (user && user.email && allowedEmails.includes(user.email)) { %>
      <button id="editButton" class="btn btn-success btn-block align-bottom" onclick="toggleForm()">Edit Costume</button>
      <form id="deleteForm" method="POST" action="/costumes/<%= costume.id %>?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <button type="button" id="deleteButton" class="btn btn-danger btn-block align-bottom" onclick="confirmDelete()">Delete Costume</button>
      </form>
    <% } %>
  </div>


  <form 
        name = "costume-form"
        id= "costumeForm"
        target = "_top"
        method="POST" 
        style="display: none;"
        action="https://script.google.com/macros/s/AKfycbwvjoAx71aQTNY1UhckdWdiTRllp8DcIcEiW57PnwnYsEMdN4kvH1EKWkim9T_4s2Y/exec">
          <div class="form-group">
            <label for="Costume name">Costume name</label>
            <input name="Costume name" class="form-control" type="text" placeholder="Costume Name" value="<%= costume.costumeName %>" required>
          </div>
          

          <div class="form-group">
            <p>Is this costume available?</p>
            <input type="radio" id="rentable" name="Rentable?" value="y" <% if (costume.isRentable === 'y') { %>checked<% } %> required>
            <label for="rentable">Yes</label><br>
            <input type="radio" id="notRentable" name="Rentable?" value="n" <% if (costume.isRentable === 'n') { %>checked<% } %> required>
            <label for="notRentable">No</label>
          </div>

          <div class="form-group">
            <label for="Costume image">Costume image</label>
            <input name="Costume image" type="text" placeholder="Enter URL" class="form-control" value="<%= costume.costumeImage %>" required>
          </div>

          <div class="form-group">
            <label for="Description">Description of costume</label>
            <textarea name="Description" placeholder="Description of costume..." rows="4" cols="50" class="form-control"><%= costume.costumeDescription %></textarea>
          </div>

          <div class="form-group">
            <label for="Tags">Tags</label>
            <textarea name="Tags" placeholder="List tags separated by a comma..." rows="4" cols="50" class="form-control"><%= costume.costumeTags %></textarea>
          </div>


          <% // COLOR %>


          <div class="form-group">
            <label for="Color"></label>
            <h4>Color</h4>
            <div class="color-box">
              <% const predefinedColors = [
                "Black",
                "Blue",
                "Brown",
                "Burgundy",
                "Clear/Transparent",
                "Cream",
                "Gold",
                "Green",
                "Gray",
                "Multicolor",
                "Orange",
                "Pink",
                "Purple",
                "Red",
                "Silver",
                "Tan/Nude",
                "Turquoise",
                "White"
              ]; %>
            
              <% if (costume.costumeColor) {
                const costumeColors = costume.costumeColor.split(',');
                const customColors = costumeColors.filter(color => !predefinedColors.includes(color) && color.trim() !== "");
          
                customColors.forEach(color => { %>
                  <div class="color-option">
                    <input type="checkbox" name="Color" value="<%= color %>" checked>
                    <label><%= color %></label>
                  </div>
                <% });
              } %>
            
              <% predefinedColors.forEach(color => { %>
                <div class="color-option">
                  <input type="checkbox" name="Color" value="<%= color %>" <% if (costume.costumeColor && costume.costumeColor.split(',').includes(color)) { %>checked<% } %>>
                  <label><%= color %></label>
                </div>
              <% }); %>
            
              <div id="customColorContainer"></div> <!-- Add a container for custom color inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomColor" id="customColorInput" class="form-control" placeholder="Enter custom color">
                  <button id="addColorBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>
          
          


              
          <% // COSTUME TYPE %>


          <div class="form-group">
            <label for="Type"></label>
            <h4>Costume Type</h4>
            <div class="color-box">
              <% const types = [
                "Blouse",
                "Coat",
                "Dress",
                "Apron",
                "Belt",
                "Bloomers",
                "Bodice",
                "Bra",
                "Breeches / Knickers",
                "Cape",
                "Collar / Jabot",
                "Crown / Tiara",
                "Cuffs",
                "Cummerbund",
                "Dance Dress / Leotard",
                "Frock Coats",
                "Gloves - Leather",
                "Gloves - Satin"
              ]; %>
          
              <% if (costume.costumeType) {
                const costumeTypes = costume.costumeType.split(',');
                const customTypes = costumeTypes.filter(type => !types.includes(type) && type.trim() !== "");
          
                customTypes.forEach(type => { %>
                  <div class="color-option">
                    <input type="checkbox" name="Type" value="<%= type %>" checked>
                    <label><%= type %></label>
                  </div>
                <% });
              } %>
          
              <% types.forEach(type => { %>
                <div class="color-option">
                  <input type="checkbox" name="Type" value="<%= type %>" <% if (costume.costumeType && costume.costumeType.split(',').includes(type)) { %>checked<% } %>>
                  <label><%= type %></label>
                </div>
              <% }); %>
          
              <div id="customTypeContainer"></div> <!-- Add a container for custom type inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomType" id="customTypeInput" class="form-control" placeholder="Enter custom type">
                  <button id="addTypeBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>


          <% // PATTERN %>

          <div class="form-group">
            <label for="Pattern"></label>
            <h4>Pattern</h4>
            <div class="color-box">
              <% const patterns = [
                "Floral",
                "Plaid",
                "Polka Dots",
                "Small Print",
                "Solid Color",
                "Stripes"
              ]; %>
          
              <% if (costume.costumePattern) {
                const costumePatterns = costume.costumePattern.split(',');
                const customPatterns = costumePatterns.filter(pattern => !patterns.includes(pattern) && pattern.trim() !== "");
          
                customPatterns.forEach(pattern => { %>
                  <div class="color-option">
                    <input type="checkbox" name="Pattern" value="<%= pattern %>" checked>
                    <label><%= pattern %></label>
                  </div>
                <% });
              } %>
          
              <% patterns.forEach(pattern => { %>
                <div class="color-option">
                  <input type="checkbox" name="Pattern" value="<%= pattern %>" <% if (costume.costumePattern && costume.costumePattern.split(',').includes(pattern)) { %>checked<% } %>>
                  <label><%= pattern %></label>
                </div>
              <% }); %>
          
              <div id="customPatternContainer"></div> <!-- Add a container for custom pattern inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomPattern" id="customPatternInput" class="form-control" placeholder="Enter custom pattern">
                  <button id="addPatternBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>
          

          <% // HEM %>

          <div class="form-group">
            <label for="Hem"></label>
            <h4>Hem Length</h4>
            <div class="color-box">
              <% const hemLengths = [
                "Mini",
                "Above Knee",
                "At Knee",
                "Below Knee",
                "Tea Length",
                "Ankle Length",
                "Floor Length"
              ]; %>
          
              <% if (costume.costumeHem) {
                const costumeHems = costume.costumeHem.split(',');
                const customHems = costumeHems.filter(hemLength => !hemLengths.includes(hemLength) && hemLength.trim() !== "");
          
                customHems.forEach(hemLength => { %>
                  <div class="color-option">
                    <input type="checkbox" name="Hem" value="<%= hemLength %>" checked>
                    <label><%= hemLength %></label>
                  </div>
                <% });
              } %>
          
              <% hemLengths.forEach(hemLength => { %>
                <div class="color-option">
                  <input type="checkbox" name="Hem" value="<%= hemLength %>" <% if (costume.costumeHem && costume.costumeHem.split(',').includes(hemLength)) { %>checked<% } %>>
                  <label><%= hemLength %></label>
                </div>
              <% }); %>
          
              <div id="customHemContainer"></div> <!-- Add a container for custom hem length inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomHem" id="customHemInput" class="form-control" placeholder="Enter custom hem length">
                  <button id="addHemBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>


          <% // LOCATION %>


          <div class="form-group">
            <label for="Location"></label>
            <h4>Location</h4>
            <div class="color-box">
              <% const locations = [
                "Side Closet",
                "Main Closet",
                "Ms. Pero's Room",
                "Mr. Kaplan's Room"
              ]; %>
          
              <% locations.forEach(location => { %>
                <div class="color-option">
                  <input type="radio" name="Location" value="<%= location %>" <% if (costume.costumeLocation === location) { %>checked<% } %>>
                  <label><%= location %></label>
                </div>
              <% }); %>
          
              <% if (costume.costumeLocation && !locations.includes(costume.costumeLocation)) { %>
                <div class="color-option">
                  <input type="radio" name="Location" value="<%= costume.costumeLocation %>" checked>
                  <label><%= costume.costumeLocation %></label>
                </div>
              <% } %>
              <div class="color-option">
                <input type="radio" name="Location" value="Custom" id="customLocationCheckbox">
                <label for="customLocationCheckbox"></label>
                <input type="text" id="customLocationInput" class="form-control" placeholder="" enabled>
              </div>
            </div>
          </div>



          <% // Fabric %>

          <div class="form-group">
            <label for="Fabric"></label>
            <h4>Fabric</h4>
            <div class="color-box">
              <% const fabrics = [
                "Brocade",
                "Cotton",
                "Cotton Blend",
                "Leather",
                "Nylon",
                "Polyester",
                "Spandex",
                "Wool",
                "Bengaline",
                "Burlap",
                "Canvas",
                "Chiffon",
                "Denim",
                "Feathers",
                "Felt"
              ]; %>
            
              <% fabrics.forEach(fabric => { %>
                <div class="color-option">
                  <input type="checkbox" name="Fabric" value="<%= fabric %>" <% if (costume.costumeFabric && costume.costumeFabric.split(',').map(f => f.trim()).includes(fabric)) { %>checked<% } %>>
                  <label><%= fabric %></label>
                </div>
              <% }); %>
            
              <% if (costume.costumeFabric) {
                const costumeFabrics = costume.costumeFabric.split(',');
                const customFabrics = costumeFabrics.filter(fabric => !fabrics.includes(fabric.trim()) && fabric.trim() !== "");
            
                customFabrics.forEach(fabric => { %>
                  <div class="color-option">
                    <input type="checkbox" name="Fabric" value="<%= fabric %>" checked>
                    <label><%= fabric %></label>
                  </div>
              <% });
              } %>
            
              <div id="customFabricContainer"></div> <!-- Add a container for custom fabric inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomFabric" id="customFabricInput" class="form-control" placeholder="Enter custom fabric">
                  <button id="addFabricBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>
          
          <% // Measurements %>

          <h4>Measurements</h4>
          <div class="color-box">
            <div class="measurement-input">
              <label for="chestMeasurement">Chest Measurement:</label>
              <input type="text" id="chestMeasurement" class="form-control" placeholder="Chest Measurement" value="<%= costume.costumeChest %>">
            </div>
            <div class="measurement-input">
              <label for="neckMeasurement">Neck Measurement:</label>
              <input type="text" id="neckMeasurement" class="form-control" placeholder="Neck Measurement" value="<%= costume.costumeNeck %>">
            </div>
            <div class="measurement-input">
              <label for="waistMeasurement">Waist Measurement:</label>
              <input type="text" id="waistMeasurement" class="form-control" placeholder="Waist Measurement" value="<%= costume.costumeWaist %>">
            </div>
            <div class="measurement-input">
              <label for="sleeveMeasurement">Sleeve Measurement:</label>
              <input type="text" id="sleeveMeasurement" class="form-control" placeholder="Sleeve Measurement" value="<%= costume.costumeSleeve %>">
            </div>
            <div class="measurement-input">
              <label for="inseamMeasurement">In-seam Measurement:</label>
              <input type="text" id="inseamMeasurement" class="form-control" placeholder="In-seam Measurement" value="<%= costume.costumeInSeam %>">
            </div>
          </div>
          
          
          



          <div class="form-group">
            <select class="form-control form-select" name="Size">
              <option selected><%= costume.costumeSize %></option>
              <option value="Extra small">XS</option>
              <option value="Small">S</option>
              <option value="Medium">M</option>
              <option value="Large">L</option>
              <option value="Extra large">XL</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Send</button>
        </form>

        



  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>





<script>


function confirmDelete() {
  var confirmation = confirm("Are you sure you want to delete this costume?");
  if (confirmation) {
    document.forms['deleteForm'].submit();
  }
}

  const costumeId = '<%= costume.id %>';




  function toggleForm() {
    var form = document.getElementById("costumeForm");
    var editButton = document.getElementById("editButton");

    if (form.style.display === "none") {
      form.style.display = "block";
      editButton.textContent = "Hide Form";
    } else {
      form.style.display = "none";
      editButton.textContent = "Edit Costume";
    }
  }


  const scriptURL = 'https://script.google.com/macros/s/AKfycbx6_sDjKzNxusoNtXFgvbOecrqS4ya3Wqzh0ONjvedQWp3JGlM9dcf8HSPRdygbOTe5/exec'
    const form = document.forms['costume-form'];
    const successmsg=document.getElementById('successmsg');
    const errormsg=document.getElementById('errormsg');
    document.getElementById('addColorBtn').addEventListener('click', function() {
      const customColorInput = document.getElementById('customColorInput');
      const customColorContainer = document.getElementById('customColorContainer');
      const customColorValue = customColorInput.value.trim();

      if (customColorValue !== '') {
        const colorOption = document.createElement('div');
        colorOption.classList.add('color-option');
        colorOption.innerHTML = `
          <input type="checkbox" name="Color" value="${customColorValue}" checked>
          <label>${customColorValue}</label>
        `;
        customColorContainer.appendChild(colorOption);
        customColorInput.value = '';
      }
    });
    document.getElementById('addTypeBtn').addEventListener('click', function() {
      const customTypeInput = document.getElementById('customTypeInput');
      const customTypeContainer = document.getElementById('customTypeContainer');
      const customTypeValue = customTypeInput.value.trim();

      if (customTypeValue !== '') {
        const typeOption = document.createElement('div');
        typeOption.classList.add('color-option');
        typeOption.innerHTML = `
          <input type="checkbox" name="Type" value="${customTypeValue}" checked>
          <label>${customTypeValue}</label>
        `;
        customTypeContainer.appendChild(typeOption);
        customTypeInput.value = '';
      }
    });
    document.getElementById('addPatternBtn').addEventListener('click', function() {
      const customPatternInput = document.getElementById('customPatternInput');
      const customPatternContainer = document.getElementById('customPatternContainer');
      const customPatternValue = customPatternInput.value.trim();

      if (customPatternValue !== '') {
        const patternOption = document.createElement('div');
        patternOption.classList.add('color-option');
        patternOption.innerHTML = `
          <input type="checkbox" name="Pattern" value="${customPatternValue}" checked>
          <label>${customPatternValue}</label>
        `;
        customPatternContainer.appendChild(patternOption);
        customPatternInput.value = '';
      }
    });
    document.getElementById('addHemBtn').addEventListener('click', function() {
      const customHemInput = document.getElementById('customHemInput');
      const customHemContainer = document.getElementById('customHemContainer');
      const customHemValue = customHemInput.value.trim();

      if (customHemValue !== '') {
        const hemOption = document.createElement('div');
        hemOption.classList.add('color-option');
        hemOption.innerHTML = `
          <input type="checkbox" name="Hem" value="${customHemValue}" checked>
          <label>${customHemValue}</label>
        `;
        customHemContainer.appendChild(hemOption);
        customHemInput.value = '';
      }
    });
    document.getElementById('addFabricBtn').addEventListener('click', function() {
      const customFabricInput = document.getElementById('customFabricInput');
      const customFabricContainer = document.getElementById('customFabricContainer');
      const customFabricValue = customFabricInput.value.trim();

      if (customFabricValue !== '') {
        const fabricOption = document.createElement('div');
        fabricOption.classList.add('color-option');
        fabricOption.innerHTML = `
          <input type="checkbox" name="Fabric" value="${customFabricValue}" checked>
          <label>${customFabricValue}</label>
        `;
        customFabricContainer.appendChild(fabricOption);
        customFabricInput.value = '';
      }
    });
    const customLocationCheckbox = document.getElementById('customLocationCheckbox');
    const customLocationInput = document.getElementById('customLocationInput');
    const chestMeasurementInput = document.getElementById('chestMeasurement');
    const neckMeasurementInput = document.getElementById('neckMeasurement');
    const waistMeasurementInput = document.getElementById('waistMeasurement');
    const sleeveMeasurementInput = document.getElementById('sleeveMeasurement');
    const inseamMeasurementInput = document.getElementById('inseamMeasurement');



    setTimeout(form.addEventListener('submit', e => {
        deleteCostume();
        e.preventDefault()

        const colorInputs = form.querySelectorAll('input[name="Color"]:checked');
        const selectedColors = Array.from(colorInputs).map(input => input.value);
        const typeInputs = form.querySelectorAll('input[name="Type"]:checked');
        const selectedTypes = Array.from(typeInputs).map(input => input.value);
        const patternInputs = form.querySelectorAll('input[name="Pattern"]:checked');
        const selectedPatterns = Array.from(patternInputs).map(input => input.value);
        const hemInputs = form.querySelectorAll('input[name="Hem"]:checked');
        const selectedHemLengths = Array.from(hemInputs).map(input => input.value);
        let selectedLocationInput = form.querySelector('input[name="Location"]:checked');
        let selectedLocation = selectedLocationInput ? selectedLocationInput.value : '';
        const fabricInputs = form.querySelectorAll('input[name="Fabric"]:checked');
        const selectedFabrics = Array.from(fabricInputs).map(input => input.value);




        

        

    
        
        

        if (customLocationCheckbox.checked && customLocationInput.value.trim() !== '') {
          selectedLocation = customLocationInput.value.trim();
        }

      
        


        const formData = new FormData(form);
        formData.append('id', costumeId);
        formData.set('Color', selectedColors.map(color => color.trim()).join(', '));
        formData.set('Type', selectedTypes.join(', '));
        formData.set('Pattern', selectedPatterns.join(', '));
        formData.set('Hem', selectedHemLengths.map(hem => hem.trim()).join(', '));
        formData.set('Location', selectedLocation);
        formData.set('ChestM', chestMeasurementInput.value.trim());
        formData.set('NeckM', neckMeasurementInput.value.trim());
        formData.set('WaistM', waistMeasurementInput.value.trim());
        formData.set('SleeveM', sleeveMeasurementInput.value.trim());
        formData.set('InSeamM', inseamMeasurementInput.value.trim());
        formData.set('Fabric', selectedFabrics.join(', '));










        fetch(scriptURL, { method: 'POST', body: formData })
        .then(response => console.log('Success!', response),
        //show success message
        successmsg.hidden=false,
        )
        .catch(error => errormsg.hidden=false)
        //show error message
  
        form.reset();

    }), 3000)


    function deleteCostume() {
      fetch("/costumes/<%= costume.id %>?_method=DELETE", {
        method: "POST",
      })
        .then((response) => {
          if (response.ok) {
            alert("Costume edited successfully.");
            window.location.href = "/costumes";
          } else {
            alert("Failed to delete costume. Please try again.");
          }
        })
        .catch((error) => {
          alert("An error occurred. Please try again later.");
        });
    }



  


  

</script>
</html>