<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'), {variant: 'compact'}; %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>


<style>
  .color-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  .color-option {
    display: flex;
    align-items: center;
  }

  .color-option input {
    margin-right: 5px;
  }
</style>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Costume Submission</h1>

      <form 
        name = "costume-form"
        target = "_top"
        method="POST" 
        action="https://script.google.com/macros/s/AKfycbwvjoAx71aQTNY1UhckdWdiTRllp8DcIcEiW57PnwnYsEMdN4kvH1EKWkim9T_4s2Y/exec">
          <div class="form-group">
            <label for="Costume name">Costume name</label>
            <input name="Costume name" class="form-control" type="text" placeholder="Costume Name" required>
          </div>
          

          <div class="form-group">
            <p>Is this costume available??</p>
            <input type="radio" id="rentable" name="Rentable?" value="y" required>
            <label for="rented">Yes</label><br>
            <input type="radio" id="notRentable" name="Rentable?" value="n" required>
            <label for="rented">No</label>
          </div>

          <div class="form-group">
            <label for="Costume image">Costume image</label>
            <input name="Costume image" type="text" placeholder="Enter URL" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="Description">Description of costume</label>
            <textarea name="Description" placeholder="Description of costume..." rows="4" cols="50" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="Tags">Tags</label>
            <textarea name="Tags" placeholder="List tags separated by a comma..." rows="4" cols="50" class="form-control"></textarea>
          </div>


          <% // COLOR %>


          <div class="form-group">
              <label for="Color"></label>
              <h4>Color</h4>
              <div class="color-box">
                <% const colors = [
                  "Black",
                  "Blue",
                  "Brown",
                  "Burgundy",
                  "Clear/Transparent",
                  "Cream",
                  "Gold",
                  "Green",
                  "Gray",
                  "Multicolor",
                  "Orange",
                  "Pink",
                  "Purple",
                  "Red",
                  "Silver",
                  "Tan/Nude",
                  "Turquoise",
                  "White"
                ]; %>
            
                <% colors.forEach(color => { %>
                  <div class="color-option">
                    <input type="checkbox" name="Color" value="<%= color %>">
                    <label><%= color %></label>
                  </div>
                <% }); %>
                <div id="customColorContainer"></div> <!-- Add a container for custom color inputs -->
                <div class="form-group">
                  <div class="color-option">
                    <input type="text" name="CustomColor" id="customColorInput" class="form-control" placeholder="Enter custom color">
                    <button id="addColorBtn" type="button">Add</button> <!-- Add the Add button -->
                  </div>
                </div>
              </div>
              
          </div>
          
          


              
          <% // COSTUME TYPE %>


          <div class="form-group">
            <label for="Type"></label>
            <h4>Costume Type</h4>
            <div class="color-box">
              <% const costumeTypes = [
                "Blouse",
                "Coat",
                "Dress",
                "Apron",
                "Belt",
                "Bloomers",
                "Bodice",
                "Bra",
                "Breeches / Knickers",
                "Cape",
                "Collar / Jabot",
                "Crown / Tiara",
                "Cuffs",
                "Cummerbund",
                "Dance Dress / Leotard",
                "Frock Coats",
                "Gloves - Leather",
                "Gloves - Satin"
              ]; %>
          
              <% costumeTypes.forEach(type => { %>
                <div class="color-option">
                  <input type="checkbox" name="Type" value="<%= type %>">
                  <label><%= type %></label>
                </div>
              <% }); %>
          
              <div id="customTypeContainer"></div> <!-- Add a container for custom type inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomType" id="customTypeInput" class="form-control" placeholder="Enter custom type">
                  <button id="addTypeBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>



          <% // PATTERN %>

          <div class="form-group">
            <label for="Pattern"></label>
            <h4>Pattern</h4>
            <div class="color-box">
              <% const patterns = [
                "Floral",
                "Plaid",
                "Polka Dots",
                "Small Print",
                "Solid Color",
                "Stripes"
              ]; %>
          
              <% patterns.forEach(pattern => { %>
                <div class="color-option">
                  <input type="checkbox" name="Pattern" value="<%= pattern %>">
                  <label><%= pattern %></label>
                </div>
              <% }); %>
          
              <div id="customPatternContainer"></div> <!-- Add a container for custom pattern inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomPattern" id="customPatternInput" class="form-control" placeholder="Enter custom pattern">
                  <button id="addPatternBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>
          

          <% // HEM %>

          <div class="form-group">
            <label for="Hem"></label>
            <h4>Hem Length</h4>
            <div class="color-box">
              <% const hemLengths = [
                "Mini",
                "Above Knee",
                "At Knee",
                "Below Knee",
                "Tea Length",
                "Ankle Length",
                "Floor Length",
                "Custom"
              ]; %>
          
              <% hemLengths.forEach(hem => { %>
                <div class="color-option">
                  <input type="checkbox" name="Hem" value="<%= hem %>">
                  <label><%= hem %></label>
                </div>
              <% }); %>
          
              <div id="customHemContainer"></div> <!-- Add a container for custom hem inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomHem" id="customHemInput" class="form-control" placeholder="Enter custom hem length">
                  <button id="addHemBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>


          <% // LOCATION %>


          <div class="form-group">
            <label for="Location"></label>
            <h4>Location</h4>
            <div class="color-box">
              <div class="color-option">
                <input type="radio" name="Location" value="Side Closet">
                <label>Side Closet</label>
              </div>
              <div class="color-option">
                <input type="radio" name="Location" value="Main Closet">
                <label>Main Closet</label>
              </div>
              <div class="color-option">
                <input type="radio" name="Location" value="Ms Pero's Room">
                <label>Ms. Pero's Room</label>
              </div>
              <div class="color-option">
                <input type="radio" name="Location" value="Mr. Kaplan's Room">
                <label>Mr. Kaplan's Room</label>
              </div>
              <div class="color-option">
                <input type="radio" name="Location" value="Custom" id="customLocationCheckbox">
                <label for="customLocationCheckbox"></label>
                <input type="text" id="customLocationInput" class="form-control" placeholder="" enabled>
              </div>
            </div>
          </div>



          <% // Fabric %>

          <div class="form-group">
            <label for="Fabric"></label>
            <h4>Fabric</h4>
            <div class="color-box">
              <% const fabrics = [
                "Brocade",
                "Cotton",
                "Cotton Blend",
                "Leather",
                "Nylon",
                "Polyester",
                "Spandex",
                "Wool",
                "Bengaline",
                "Burlap",
                "Canvas",
                "Chiffon",
                "Denim",
                "Feathers",
                "Felt",
                "Custom"
              ]; %>
          
              <% fabrics.forEach(fabric => { %>
                <div class="color-option">
                  <input type="checkbox" name="Fabric" value="<%= fabric %>">
                  <label><%= fabric %></label>
                </div>
              <% }); %>
          
              <div id="customFabricContainer"></div> <!-- Add a container for custom fabric inputs -->
              <div class="form-group">
                <div class="color-option">
                  <input type="text" name="CustomFabric" id="customFabricInput" class="form-control" placeholder="Enter custom fabric">
                  <button id="addFabricBtn" type="button">Add</button> <!-- Add the Add button -->
                </div>
              </div>
            </div>
          </div>
          
          <% // Measurements %>

          <h4>Measurements</h4>
          <div class="color-box">
            <div class="measurement-input">
              <label for="chestMeasurement">Chest Measurement:</label>
              <input type="text" id="chestMeasurement" class="form-control" placeholder="Chest Measurement">
            </div>
            <div class="measurement-input">
              <label for="neckMeasurement">Neck Measurement:</label>
              <input type="text" id="neckMeasurement" class="form-control" placeholder="Neck Measurement">
            </div>
            <div class="measurement-input">
              <label for="waistMeasurement">Waist Measurement:</label>
              <input type="text" id="waistMeasurement" class="form-control" placeholder="Waist Measurement">
            </div>
            <div class="measurement-input">
              <label for="sleeveMeasurement">Sleeve Measurement:</label>
              <input type="text" id="sleeveMeasurement" class="form-control" placeholder="Sleeve Measurement">
            </div>
            <div class="measurement-input">
              <label for="inseamMeasurement">In-seam Measurement:</label>
              <input type="text" id="inseamMeasurement" class="form-control" placeholder="In-seam Measurement">
            </div>
          </div>
          
          
          



          <div class="form-group">
            <select class="form-control form-select" name="Size">
              <option selected>Size of costume</option>
              <option value="Extra small">XS</option>
              <option value="Small">S</option>
              <option value="Medium">M</option>
              <option value="Large">L</option>
              <option value="Extra large">XL</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Send</button>
        </form>

        <div id="successmsg" hidden>
            <div class="alert alert-success">
                <strong>Success!</strong> The costume has been added.
            </div>
        </div>
        
        
        <div id="errormsg" hidden>
            <div class="alert alert-danger">
                <strong>Error!</strong> There was an error adding your costume.
            </div>
        </div>

    </div>
  </div>

  

  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbx6_sDjKzNxusoNtXFgvbOecrqS4ya3Wqzh0ONjvedQWp3JGlM9dcf8HSPRdygbOTe5/exec'
    const form = document.forms['costume-form'];
    const successmsg=document.getElementById('successmsg');
    const errormsg=document.getElementById('errormsg');
    document.getElementById('addColorBtn').addEventListener('click', function() {
      const customColorInput = document.getElementById('customColorInput');
      const customColorContainer = document.getElementById('customColorContainer');
      const customColorValue = customColorInput.value.trim();

      if (customColorValue !== '') {
        const colorOption = document.createElement('div');
        colorOption.classList.add('color-option');
        colorOption.innerHTML = `
          <input type="checkbox" name="Color" value="${customColorValue}" checked>
          <label>${customColorValue}</label>
        `;
        customColorContainer.appendChild(colorOption);
        customColorInput.value = '';
      }
    });
    document.getElementById('addTypeBtn').addEventListener('click', function() {
      const customTypeInput = document.getElementById('customTypeInput');
      const customTypeContainer = document.getElementById('customTypeContainer');
      const customTypeValue = customTypeInput.value.trim();

      if (customTypeValue !== '') {
        const typeOption = document.createElement('div');
        typeOption.classList.add('color-option');
        typeOption.innerHTML = `
          <input type="checkbox" name="Type" value="${customTypeValue}" checked>
          <label>${customTypeValue}</label>
        `;
        customTypeContainer.appendChild(typeOption);
        customTypeInput.value = '';
      }
    });
    document.getElementById('addPatternBtn').addEventListener('click', function() {
      const customPatternInput = document.getElementById('customPatternInput');
      const customPatternContainer = document.getElementById('customPatternContainer');
      const customPatternValue = customPatternInput.value.trim();

      if (customPatternValue !== '') {
        const patternOption = document.createElement('div');
        patternOption.classList.add('color-option');
        patternOption.innerHTML = `
          <input type="checkbox" name="Pattern" value="${customPatternValue}" checked>
          <label>${customPatternValue}</label>
        `;
        customPatternContainer.appendChild(patternOption);
        customPatternInput.value = '';
      }
    });
    document.getElementById('addHemBtn').addEventListener('click', function() {
      const customHemInput = document.getElementById('customHemInput');
      const customHemContainer = document.getElementById('customHemContainer');
      const customHemValue = customHemInput.value.trim();

      if (customHemValue !== '') {
        const hemOption = document.createElement('div');
        hemOption.classList.add('color-option');
        hemOption.innerHTML = `
          <input type="checkbox" name="Hem" value="${customHemValue}" checked>
          <label>${customHemValue}</label>
        `;
        customHemContainer.appendChild(hemOption);
        customHemInput.value = '';
      }
    });
    document.getElementById('addFabricBtn').addEventListener('click', function() {
      const customFabricInput = document.getElementById('customFabricInput');
      const customFabricContainer = document.getElementById('customFabricContainer');
      const customFabricValue = customFabricInput.value.trim();

      if (customFabricValue !== '') {
        const fabricOption = document.createElement('div');
        fabricOption.classList.add('color-option');
        fabricOption.innerHTML = `
          <input type="checkbox" name="Fabric" value="${customFabricValue}" checked>
          <label>${customFabricValue}</label>
        `;
        customFabricContainer.appendChild(fabricOption);
        customFabricInput.value = '';
      }
    });
    const customLocationCheckbox = document.getElementById('customLocationCheckbox');
    const customLocationInput = document.getElementById('customLocationInput');
    const chestMeasurementInput = document.getElementById('chestMeasurement');
    const neckMeasurementInput = document.getElementById('neckMeasurement');
    const waistMeasurementInput = document.getElementById('waistMeasurement');
    const sleeveMeasurementInput = document.getElementById('sleeveMeasurement');
    const inseamMeasurementInput = document.getElementById('inseamMeasurement');
    const customFabricCheckbox = document.getElementById('customFabricCheckbox');


    setTimeout(form.addEventListener('submit', e => {
        e.preventDefault()

        const costumeId = generateUniqueId();
        const colorInputs = form.querySelectorAll('input[name="Color"]:checked');
        const selectedColors = Array.from(colorInputs).map(input => input.value);
        const typeInputs = form.querySelectorAll('input[name="Type"]:checked');
        const selectedTypes = Array.from(typeInputs).map(input => input.value);
        const patternInputs = form.querySelectorAll('input[name="Pattern"]:checked');
        const selectedPatterns = Array.from(patternInputs).map(input => input.value);
        const hemInputs = form.querySelectorAll('input[name="Hem"]:checked');
        const selectedHemLengths = Array.from(hemInputs).map(input => input.value);
        let selectedLocationInput = form.querySelector('input[name="Location"]:checked');
        let selectedLocation = selectedLocationInput ? selectedLocationInput.value : '';
        const fabricInputs = form.querySelectorAll('input[name="Fabric"]:checked');
        const selectedFabrics = Array.from(fabricInputs).map(input => input.value);




        

        

       
       

        if (customLocationCheckbox.checked && customLocationInput.value.trim() !== '') {
          selectedLocation = customLocationInput.value.trim();
        }

      
        


        const formData = new FormData(form);
        formData.append('id', costumeId);
        formData.set('Color', selectedColors.map(color => color.trim()).join(', '));
        formData.set('Type', selectedTypes.join(', '));
        formData.set('Pattern', selectedPatterns.join(', '));
        formData.set('Hem', selectedHemLengths.map(hem => hem.trim()).join(', '));
        formData.set('Location', selectedLocation);
        formData.set('ChestM', chestMeasurementInput.value.trim());
        formData.set('NeckM', neckMeasurementInput.value.trim());
        formData.set('WaistM', waistMeasurementInput.value.trim());
        formData.set('SleeveM', sleeveMeasurementInput.value.trim());
        formData.set('InSeamM', inseamMeasurementInput.value.trim());
        formData.set('Fabric', selectedFabrics.join(', '));










        fetch(scriptURL, { method: 'POST', body: formData })
        .then(response => console.log('Success!', response),
        //show success message
        successmsg.hidden=false,
        )
        .catch(error => errormsg.hidden=false)
        //show error message
  
        form.reset();
    }), 3000)

    


    function generateUniqueId() {
      const timestamp = Date.now().toString(36); // Use timestamp as part of the ID
      const randomChars = Math.random().toString(36).substr(2, 5); // Generate random characters
      return timestamp + randomChars;
    }

  </script>


<!-- PROP FORM -->

