<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container-fluid p-5 bg-light">
    <h1>BCA Theater Organizer</h1>
    <p>Use the links below to find the costume and prop inventories</p>
    <!--variable usage 
        (The EJS partial has access to all the same data as the parent view. 
        But be careful. If you are referencing a variable in a partial, it 
        needs to be defined in every view that uses the partial or it will throw an error.)-->
    <h2><a href="/costumes">Costumes</a></h2>
    <p><%= tagline1 %></p>

    <h2><a href="/props">Props</a></h2>
    <p><%= tagline2 %></p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>